<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Books</title>
  </head>
  <body>
    <form action="/books" method="post">
      {% for f, t in modifiable_fields.items() %}
      <label for="{{f}}">{{f | capitalize | replace("_", " ") }}:</label>
      <input type="{{t}}" id="{{f}}" name="{{f}}" />
      <br />
      {% endfor %}

      <input name="type" value="create" hidden />
      <input type="submit" value="Add" />
    </form>
    <table>
      <thead>
        <tr>
          {% for f in modifiable_fields.keys() %}
          <th>{{f | capitalize | replace("_", " ")}}</th>
          {% endfor %}
          <th>Copies available</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          {% for f, t in modifiable_fields.items() %}
          <td><input type="{{t}}" value="{{book[f]}}" name="{{f}}" /></td>
          <br />
          {% endfor %}
          <td>{{book["copies_available"]}}</td>
          <td>
            <button class="delete-button">❌</button>
          </td>
          <td>
            <input name="id" value="{{book.id}}" hidden />
            <input name="type" value="update" hidden />
            <button class="confirm-button">Confirm</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script>
    document.querySelectorAll(".delete-button").forEach((btn) => {
      btn.onclick = () => {
        btn.parentElement.parentElement
          .querySelector("input[name=type]")
          .setAttribute("value", "delete");
        btn.parentElement.parentElement.querySelector(
          ".confirm-button"
        ).textContent = "Delete";
      };
    });
    document.querySelectorAll(".confirm-button").forEach((btn) => {
      btn.onclick = () => {
        let id = btn.parentElement.querySelector("input[name=id]").value;
        let type = btn.parentElement.querySelector("input[name=type]").value;
        if (type === "update") {
          data = {}
          {% for f in modifiable_fields.keys() %}
          data.{{f}} =
            btn.parentElement.parentElement.querySelector(
              "input[name={{f}}]"
            ).value;
          {% endfor %}
          data.type = type
          fetch("/books", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({...data, id}),
          }).catch((res) => {
            alert("There was an error, please check console");
            console.log(res);
          });
        } else if (type === "delete") {
          fetch("/books", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ id }),
          });
          location.reload();
        }
      };
    });
  </script>
</html>
