<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Transactions</title>
  </head>
  <body>
    <form action="/transactions" method="post">
      <label for="member_select">Member</label>
      <select id="member_select" name="member_select">
        {% for member in members %}
        <option value="{{member.id}}">{{member.full_name}}</option>
        {% endfor %}
      </select>

      <label for="book_select">Book</label>
      <select id="book_select" name="book_select">
        {% for book in books %}
        <option value="{{book.id}}">{{book.title}}</option>
        {% endfor %}
      </select>

      <label for="trans_date">Author</label>
      <input type="date" id="trans_date" name="trans_date" />

      <label for="trans_type">Type</label>
      <select id="trans_type" name="trans_type">
        <option value="borrow">Borrow</option>
        <option value="return">Return</option>
      </select>

      <input type="submit" value="Add" />
    </form>
    <table>
      <thead>
        <tr>
          <th>Book</th>
          <th>Member</th>
          <th>Date</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
        <tr>
          <td>
            {% for member in members %} {% if t.member_id == member.id %}
            {{member.full_name}} {% endif %} {% endfor %}
          </td>
          <td>
            {% for book in books %} {% if t.book_id == book.id %}
            <!-- prettier-ignore -->
            {{ book.title}} {% endif %} {% endfor %}
          </td>
          <td>{{t.trans_date}}</td>
          <td>{{ t.trans_type | capitalize }}</td>

          <td>
            <button class="delete-button">❌</button>
          </td>
          <td>
            <input name="id" value="{{t.id}}" hidden />
            <button class="confirm-button">Confirm</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script>
    document.querySelectorAll(".delete-button").forEach((btn) => {
      btn.onclick = () => {
        btn.parentElement.parentElement.querySelector(
          ".confirm-button"
        ).textContent = "Delete";
      };
    });
    document.querySelectorAll(".confirm-button").forEach((btn) => {
      btn.onclick = () => {
        if (btn.textContent === "Delete") {
          let id = btn.parentElement.querySelector("input[name=id]").value;
          fetch("/transactions", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ id }),
          });
          location.reload();
        }
      };
    });
  </script>
</html>
